$color_primario: #F2EB80;
$color_secundario: #F28444;
$color_terciario: #0D0D0D;
$color_aux1: #D95A2B;
$color_aux2: #F24E29;

.cabecera{
    border-bottom-color: $color_secundario;
    border-bottom-width: .1em;
    border-bottom-style: solid;
    margin-bottom: 3em;
}

.espaciar{
    margin-top: 2em;
    margin-bottom: 4em;
}

.nodo_tablet{
    //background-color: $color_primario;
    border: 0.05em solid $color_aux2;
    box-shadow: 0.2em 0.2em 0.2em $color_terciario;
}
