.cabecera {
  border-bottom-color: #F28444;
  border-bottom-width: .1em;
  border-bottom-style: solid;
  margin-bottom: 3em; }

.espaciar {
  margin-top: 2em;
  margin-bottom: 4em; }

.nodo_tablet {
  border: 0.05em solid #F24E29;
  box-shadow: 0.2em 0.2em 0.2em #0D0D0D; }
