.cabecera {
  border-bottom-color: #F28444;
  border-bottom-width: .1em;
  border-bottom-style: solid;
  margin-bottom: 2em; }

div.fondo1 {
  background-color: #F24E29; }

div.fondo2 {
  background-color: #D95A2B; }

div.fondo3 {
  background-color: #F2EB80; }
